<div class="app-container">
  <div class="app-bar">
    <header>
      <h1 class="title">
        <a target="_self" href="/home">
          <span class="logo">
            <img src="assets/icons/logo.png" alt="">
          </span>
          <!-- <span class="text">DevUI</span> -->
        </a>
      </h1>
      <div class="main-nav">
        <a
          class="main-nav-item"
          target="_self"
          href="/design-cn"
          routerLinkActive="active"
        >
          <span>设计体系</span>
        </a>
        <a
          class="main-nav-item"
          routerLink="components"
          routerLinkActive="active"
        >
          <span>组件</span>
        </a>
        <a
          class="main-nav-item"
          target="_self"
          href="/icon"
          routerLinkActive="active"
        >
          <span>图标库</span>
        </a>
        <a class="main-nav-item"  rel="noopener noreferrer" href="#" routerLinkActive="active">
          <span>版本历程</span>
        </a>
        <a class="main-nav-item version-label">
          <span>{{ version }}</span>
        </a>
      </div>
      <div id="headerMenu" class="header-menu"><span></span></div>
    </header>
  </div>
  <router-outlet></router-outlet>
</div>
